html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    background: url("../images/bg.jpg");
    background-size: cover;
    flex-wrap: wrap;
}

h1 {
    color: #ffffff;
}

.card {
    opacity: 0.8;
}
.card:hover {
    opacity: 1;
}

.card a {
    color: #F2BA52!important;
    text-decoration: none!important;
}
.card:hover a {
    color: #F2935C!important;
    text-decoration: none!important;
}

body > main.container {
    transform: scale(0.8);
    -moz-transform: scale(0.8);
}

.cursorPointer:hover {
    cursor: pointer;
}
